@import "reccurent";
@import "variables";

.commun {
  position: sticky;
  top: 0;
  width: 100%;
  font-size: 2rem;
  line-height: 2.4rem;
  background: var(--background-commun);
  height: 5rem;
  display: flex;
  flex-flow: wrap nowrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid silver;
  h3 {
    color: white;
    padding-left: 2rem;
  }

  .menu {
    display: flex;
    flex-direction: wrap;
    margin-right: 2rem;
  }

  .menu li a {
    padding: 2rem;
  }
}
//main
.container {
  justify-content: center;
  width: 100%;
  min-height: 100vh;

  .entete {
    height: 20rem;
    text-align: center;
    border: 1px solid black;

    h1 {
      color: white;
      font-size: 6rem;
      padding-top: 2rem;
      text-shadow: 1px 3px rgb(94, 5, 5);
      letter-spacing: 0.8rem;
    }
    h3 {
      color: black;
      font-size: 3rem;
      letter-spacing: 0.5rem;
    }
  }
}

h3 {
  text-align: center;
  font-size: 4rem;
}
.domaine {
  display: flex;
  
  height: 100vh;
  flex-direction: row;
  .type {
    display: grid;
    border: 1px solid black;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;
  }

  .section {
    display: flex;
    flex-flow: row wrap;
    justify-items: space-between;
    width: 30rem;
    height: 40rem;
    border: 1px solid black;
    margin: 1rem;
    img {
      max-width: 80%;
    }
  }
}
