:root {
  --background-main: linear-gradient(
    to left,
    #111,
    #171c5e,
    #14213d,
    #14213d,
    #333,
    #444,
    #666,
    #888,
    #666,
    #444,
    #222,
    #14213d,
    #14213d,
    #171c5e,
    #111
  );
  --background-commun: #333;
  --border: #aaa;

  --background-input: rgb(68, 67, 67);
  --text-shadow:rgb(85, 2, 2);
  --background-cigares:
  --background-timb-cig:white;
  --pictures:rgba(131, 56, 56, 0.171);
  --background-bar-right:rgb(240, 3, 3);
  --background-bar-left:rgb(247, 114, 114);
  --box-shadow:#ccc;
  

}
